*{
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

body{
  background: #F7F7F7;
  width: 400px;
  margin: 0 auto
}

.question-block{
  background: #46DBC2;
  color: #fff;
  width: 400px;
  margin: 50px auto 0;
  border-radius: 3px;
  box-shadow: 0 0 30px -10px #333;
  position: relative;
}

.question-block .left-button,
.question-block .right-button{
  position: absolute;
  top: 0;
  height: 100%;
  width: 50px;
  cursor: pointer;
}

.question-block .left-button{
  right: 100%;
}

.question-block .right-button{
  left: 100%;
}

.question-block .left-button:after,
.question-block .left-button:before,
.question-block .right-button:after,
.question-block .right-button:before{
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  border: 16px solid transparent;
}

.question-block .left-button:after,
.question-block .left-button:before{
  border-left: 0;
}

.question-block .left-button:after{
  left: 14px;
  border-right-color: #333;
  z-index: 10;
}

.question-block .left-button:before{
  left: 16px;
  border-right-color: #F7F7F7;
  z-index: 100;
}

.question-block .right-button:after,
.question-block .right-button:before{
  border-right: 0;
}

.question-block .right-button:after{
  right: 14px;
  border-left-color: #333;
  z-index: 10;
}

.question-block .right-button:before{
  right: 16px;
  border-left-color: #F7F7F7;
  z-index: 100;
}

.question-block .left-button:hover,
.question-block .right-button:hover{
  background: #eee;
}

.question-block .left-button:hover:before{
  border-right-color: #eee;
}

.question-block .right-button:hover:before{
  border-left-color: #eee;
}

.question-block .left-button.disabled,
.question-block .right-button.disabled{
  opacity: 0.4;
  cursor: default;
}

.question-block .left-button.disabled:hover,
.question-block .right-button.disabled:hover{
  background: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}

.question-block .left-button.disabled:hover:before{
  border-right-color: #F7F7F7;
}

.question-block .right-button.disabled:hover:before{
  border-left-color: #F7F7F7;
}

.question-block .question-text{
  padding: 15px;
}

.question-block *:first-letter{
  text-transform: uppercase;
}

.question-block .question-answers{
  margin: 0px 2px;
  padding: 2px;
  background: #F7F7F7;
  border-radius: 3px;
  color: #333;
  overflow: hidden;
}

.question-block .question-answers .answer-question{
  display: block;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px 15px 10px 40px;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.question-block .question-answers .answer-question input{
  display: none;
}

.question-block .question-answers .answer-question .radio{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #46DBC2;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -10px;
}

.question-block .question-answers .answer-question input:checked + .radio{
  background: #46DBC2
}

.question-block .question-answers .answer-question .answer-text{
  display: block;
}

.question-block .question-answers :last-child{
  border-bottom: none;
}

.question-block .question-button,
.create-question{
  color: #758191;
  background: #fff;
  border: none;
  margin: 2px;
  width: 396px;
  padding: 5px 0;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.question-block .question-answers .answer-question:hover,
.question-block .question-button:hover,
.create-question:hover{
  color: #fff;
  background: #43C3AF;
}

.question-block .question-result{
  font-size: 30px;
  padding: 20px;
  text-align: center;
}

.create-question{
  width: 100%;
  margin: 10px 0;
  border: 2px solid #43C3AF;
}
